<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css" />
  <title>JWT Auth Demo</title>
</head>
<body>
  <!-- Server Token Decode-->
  <h1 id="welc">Welcome</h1>
  <p id="servMes"> </p>

  <div class="button-container">
    <button id="textZone">Text Zone</button>
    <button id="changeUserButton">Change User</button>
  </div>

  

  <script>
    const servMesEl = document.getElementById('servMes');
    const API_BASE_URL = 'http://localhost:3500'; // wtf why this i do not know driving me crazy
    const changeUser = document.getElementById('changeUserButton');
    const textZone = document.getElementById('textZone');

    // Button click redirects to /edit
    changeUser.addEventListener('click', () => {
      window.location.href = '/edit';
    });

    textZone.addEventListener('click', () => {
      window.location.href = '/textZone';
    });

    // This get's the user's name and roles
    async function fetchProtectedData() {

      // Hope the token was stored successfully
      const token = localStorage.getItem('accessToken');

      // send to server [/getInfo] with the data
      let response = await fetch(`${API_BASE_URL}/getInfo`, {
        method: 'GET',
        headers: {
          'Authorization': `Bearer ${token}`,
          'Content-Type': 'application/json'
        }
      });

      // Get new auth token since ours is now bad and not secure
      // We send the refresh token to get the new authToken JSON
      if (response.status === 403) {
        const newToken = await refreshToken();
        if (newToken) {
          response = await fetch(`${API_BASE_URL}/getInfo`, {
            method: 'GET',
            headers: {
              'Authorization': `Bearer ${newToken}`
            }
          });
        }
      }

      // Format the json responce of the info to be prettier
      const text = await response.text(); 
      const parts = text.trim().split(/\s+/); 
      const name = parts[0].replace(/:$/, '!'); 
      const roles = parts.slice(1).join(' '); 
      welc.textContent = `Welcome ${name}`;
      servMesEl.textContent = `Your roles: ${roles}`;
    }

    async function refreshToken() {
      const response = await fetch(`${API_BASE_URL}/refresh`, {
        method: 'GET',
        credentials: 'include'
      });
      
      const data = await response.json();
      localStorage.setItem('accessToken', data.accessToken);
      return data.accessToken;
    }

    fetchProtectedData().catch(() => {
      servMesEl.textContent = 'Failed to load data';
    });
  </script>
</body>
</html>
