<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css" />
  <title>JWT Auth Demo</title>
</head>
<body>
  <!-- Server Token Decode-->
  <h1 id="welc">Welcome</h1>
  <p id="servMes"> </p>

  <!-- Buttons -->
  <div class="button-container">
    <table>
      <tr>
        <th><button id="textZoneButton">Text Zone</button></th>
        <th><button id="manageUsersButton">Manage Users</button></th>
        <th><button id="customFormatsButton">Custom Formats</button></th>
      </tr>
      <tr>
        <th><button id="programButton">Program</button></th>
        <th><button id="examplesButton">Examples</button></th>
        <th><button id="logoutButton">Logout</button></th>
      </tr>
    </table>    
  </div>



  <script src="js/authHelpers.js"></script>
  <script>
    const servMesEl = document.getElementById('servMes');
    const welc = document.getElementById('welc');

    const textZone = document.getElementById('textZoneButton');
    const manageUsers = document.getElementById('manageUsersButton');
    const customFormats = document.getElementById('customFormatsButton');
    const program = document.getElementById('programButton');
    const examples = document.getElementById('examplesButton');
    const logout = document.getElementById('logoutButton');

    // Force reload on browser back --- logged out or data changed
    window.addEventListener('pageshow', (event) => {
      if (event.persisted || performance.getEntriesByType("navigation")[0].type === "back_forward") {
        window.location.reload();
      }
    });

    // Button redirects
    textZone.addEventListener('click', () => {
      window.location.href = '/textZone';
    });
    manageUsers.addEventListener('click', () => {
      window.location.href = '/edit';
    });
    logout.addEventListener('click', async () => {
      await fetch(`${API_BASE_URL}/logout`, {
        method: 'GET',
        credentials: 'include'
      });
      localStorage.removeItem('accessToken');
      window.location.href = '/';
    });
    customFormats.addEventListener('click', () => {
      window.location.href = '/customFormats';
    });
    program.addEventListener('click', () => {
      window.location.href = '/program';
    });
    examples.addEventListener('click', () => {
      window.location.href = '/examples';
    });



    //------------------------------------------
    // Use fetchProtectedData from authHelpers.js
    fetchUserLoggedInData()
      .then(text => {
        if (text) {
          const parts = text.trim().split(/\s+/);
          const name = parts[0].replace(/:$/, '!');
          const roles = parts.slice(1).join(' ');
          welc.textContent = `Welcome ${name}`;
          servMesEl.textContent = `Your roles: ${roles}`;
        }
      })
      .catch(() => {
        servMesEl.textContent = 'Failed to load data';
      });
  </script>

</body>
</html>
