<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css" />
  <title>Home</title>
</head>

<body>
  <h1>Token Traversial</h1>
  <p>--Impliment Server Token Decode--</p>
  <p id="userInfo"> </p>

  <!-- Add button to go to home2.html -->
  <button id="goToHome2Btn">Go to user edit</button>

  <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
  <script>
    const token = localStorage.getItem('accessToken');
    const userInfoEl = document.getElementById('userInfo');
    const goToHome2Btn = document.getElementById('goToHome2Btn');

    // Check token and display user info
    if (token) {
      const decoded = jwt_decode(token);
      const username = decoded.UserInfo.username;
      const roles = decoded.UserInfo.roles;
      userInfoEl.textContent = `${username}'s roles: ${roles.join(', ')}`;
    } else {
      userInfoEl.textContent = 'No access token found. Please log in.';
    }

    // Redirect to home2.html when the button is clicked
    goToHome2Btn.addEventListener('click', function() {
      window.location.href = '/edit'; // Ensure you are using the correct relative path
    });
  </script>
</body>

</html>
