<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/style.css" />
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form id="loginForm">
    <label for="user">Username (walt1):</label>
    <input type="text" id="user" name="user" required><br><br>
    <label for="pwd">Password (Aa$12345):</label>
    <input type="password" id="pwd" name="pwd" required><br><br>

    <div class="button-container">
      <button type="submit">Login</button>
      <button id="testLoginBtn">Login Test</button>
      <button id="regBtn">Register</button>
    </div>
  </form>

  
  <p id="message"></p>

  <script>
    const form = document.getElementById('loginForm');
    const msg = document.getElementById('message');
    const testLoginBtn = document.getElementById('testLoginBtn');
    const regBtn = document.getElementById('regBtn');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const user = form.user.value;
      const pwd = form.pwd.value;

      try {
        const res = await fetch('/auth', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          credentials: 'include',
          body: JSON.stringify({ user, pwd })
        });

        if (res.ok) {
          const data = await res.json();
          localStorage.setItem('accessToken', data.accessToken); // Store token, so loading doesn't fail
          window.location.href = '/home?success=true';
        } else {
          window.location.href = '/index.html?error=1';
        }

      } catch (err) {
        console.error('Login failed', err);
        msg.textContent = 'Login error. Try again.';
      }
    });

    // REGISTER
    regBtn.addEventListener('click', () => {
      window.location.href = '/registration';
    });


    // Login Test Button Behavior
    testLoginBtn.addEventListener('click', () => {
      form.user.value = 'walt1';
      form.pwd.value = 'Aa$12345';
      form.requestSubmit(); // Triggers form submit programmatically
    });

    // Handle login error message on reload
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('error') === '1') {
        msg.style.color = 'red';
        msg.textContent = 'Login failed. Try again.';
    }
  </script>
</body>
</html>